/*styles for home content only*/
h1 {
  color: #1296cc;
  font-size: 1.5em;
  font-family: 'Handlee', cursive;
  margin: 0;
}

.logo {
  padding: 0 1em;
  height: 100%;
  text-align: center;
  float: left;
  display: table;
}

nav {
  display: table;
  height: 100%;
  float: right;
  margin-right: 1em;
}

  nav a {
    padding: 0.5em;
    border-radius: 0.5em;
    color: #000;
    text-align: center;
    text-decoration: none;
  }

    nav a:hover {
      color: #1296cc;
    }

    nav a:visited:hover {
      color: #1296cc;
    }

    nav a.active {
      color: #1296cc;
      background-color: #ede;
    }

      nav a.active:visited {
        color: #1296cc;
      }

    nav a:visited {
      text-decoration: none;
      color: #000;
    }
