header {
  display: block;
  height: 3em;
  padding: 0 0 0.5em 5%;

  title {
    display: table;
    font-size: 1.5em;
    height: 100%;
    float: left;

    a {
      text-decoration: none;
    }
  }

  .navigation {
    display: inline-block;
    height: 100%;
    margin-left: 5%;

    a {
      background-color: rgba(222, 222, 222, 0.7);
      color: #777;
      display: inline-block;
      font-size: 1.2em;
      text-align: center;
      box-shadow: 2px 2px 8px -1px;
      text-decoration: none;
      padding: 0.25em 1em 0.75em;
      margin: 0.25em;
      -webkit-transition: color 0.5s;
      transition: color 0.5s;

      span {
        display: block;
        height: 0.1em;
        position: relative;
        background-color: darkgrey;
        bottom: -0.3em;
        left: 0;
        width: 100%;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
      }

      &.active {
        color: rgb(168, 50, 93);

        span {
          background-color: rgb(168, 50, 93);
        }

        &:hover {
          color: rgb(168, 50, 93);

          span {
            background-color: rgb(168, 50, 93);
          }
        }
      }

      &:hover {
        color: rgb(25, 193, 75);

        span {
          background-color: rgb(25, 193, 75);
        }
      }
    }
  }
}
