footer {
  padding: 0.5em 0;
  width: 100%;
  background-color: white;
  height: 4em;

  div {
    width: 85%;
    margin: 0 auto;
  }

  .topper {
    margin: 0.1em auto 0.5em;
    height: 1px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #a8325d));
    display: block;
    width: 90%;
  }

  .bold {
    font-weight: bold;
  }
}
