header {
  display: block;
  position: relative;
  height: 20em;
  background-color: rgba(111, 111, 111, 0.1);
  -webkit-transition: height 0.1s;
  transition: height 0.1s;

  &.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.2em;
    padding: 0.5em 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 4px 4px darkgrey;

    .navHolder {
      height: 3em;
      padding: 0;

      title {
        width: 6em;
      }
    }
  }

  .navHolder {
    height: 8em;
    width: 90%;
    margin: 0 auto;
    max-width: 70em;
    padding-top: 12em;

    title {
      display: table;
      font-size: 1.5em;
      height: 100%;
      float: left;
      width: 12em;

      a {
        background-image: url('../../assets/img/nplhm-logo.png');
        text-decoration: none;
        height: 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
      }
    }

    .navigation {
      display: table;
      height: 100%;

      a {
        color: #777;
        font-size: 1.2em;
        text-align: center;
        text-shadow: 0 0 10px #777;
        text-decoration: none;
        padding: 0.25em 1em 0.75em;
        margin: 0.25em;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;

        span {
          display: block;
          box-shadow: 0 0 4px 1px darkgrey;
          height: 0.1em;
          position: relative;
          background-color: darkgrey;
          bottom: -0.3em;
          left: 0;
          width: 100%;
          -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
        }

        &.active {
          color: #a8325d;
          text-shadow: 0 0 10px #a8325d;

          span {
            background-color: #a8325d;
          }

          &:hover {
            color: rgb(168, 50, 93);
            text-shadow: 0 0 10px #a8325d;

            span {
              background-color: rgb(168, 50, 93);
            }
          }
        }

        &:hover {
          color: rgb(25, 193, 75);
          text-shadow: 0 0 10px rgb(25, 193, 75);

          span {
            background-color: rgb(25, 193, 75);
          }
        }
      }
    }
  }
}
