<div class="homeHeader">
  <div class="wrap">
    <h1>No Place Like Home</h1>
    <h2>When you want home to be there for the ones you love</h2>
  </div>
</div>

<div class="homeContent">  
  <h3>Welcome to No Place Like Home!</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum, augue eu sollicitudin rutrum, tortor risus dapibus lorem, quis tincidunt augue elit at quam. Aenean sit amet tellus quis libero elementum iaculis ut molestie elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </p>
</div>
